:root {
	--bgcolor: #2063AA;
	--highlight-color: #FFF;
	--highlight-bgcolor: #111D33;
	--content-color: #000;
	--content-bgcolor0: #EEE;
	--content-bgcolor1: #F6F6F6;
	--content-bgscolor: rgba(225, 225, 225, 0.8);

	
}

body {
	--margin-largelow: 1360px;
	--margin-middlelow: 768px;
	--margin-smallhigh: 767px;
	--margin-middlehigh: 1359px;
	--margin_innerpad: 10px;
	--margin_innerpadx2: calc(var(--margin_innerpad) * 2);
	--margin-width: calc(100% - var(--margin_innerpadx2));
	--margin-maxwidth: calc(var(--margin-largelow) - var(--margin_innerpadx2));
	--margin-pad: calc(50% - calc(var(--margin-maxwidth) / 2));
}
body>*>* {
	max-width: var(--margin-maxwidth);
	padding: 12px var(--margin-pad);
}
@media (max-width: 1359px) {
	body>*>* {
		width: var(--margin-width);
		padding: 12px var(--margin_innerpad);
	}
}


/** -------------------------- LAYOUT FOR ALL PAGES -------------------------- **/

/** Pading, margin, size and font */
* { margin: 0; padding: 0; max-width: 100%; overflow-wrap: break-word; }
body { background-color: var(--highlight-bgcolor); font-family: Arial, 'Arial', 'Microsoft YaHei', '微软雅黑'; }
h1,h2,h3,h4 { margin: 18px 0; }
p,ul,ol,li { margin: 12px 0; }
li { margin-left: 2em; }
hr { margin: 10px 0; }
a { color: inherit; text-decoration: none; opacity: 75%; } a:hover { cursor: pointer; opacity: 100%; }
a[href^="http://"]::after,a[href^="https://"]::after { content: '↗' }

del { opacity: 0.25; } del:hover { opacity: 0.75; }
.info { font-size: 85%; opacity: 0.75; }

script,style { display: none !important; }
code { background-color: var(--content-bgscolor); overflow: auto; } pre { display: block; background-color: var(--content-bgscolor); width: 100%; padding: 10px 0; overflow-x: auto; }

details>summary { cursor: pointer; list-style-type: '+  '; background: var(--content-bgscolor); margin: 12px 0; padding: 5px 12px; } details[open]>summary { color: var(--highlight-color); background: var(--highlight-bgcolor); list-style-type: '-  '; }

form>div { display: grid; grid-template-columns: 20ch 1fr; gap: 10px; }
textarea { resize: vertical; }

/** Header & footer & main */
header {
	color: var(--highlight-color);
	background-color: var(--highlight-bgcolor);
	border-bottom: solid var(--highlight-color) 2px;
	position: sticky;
	top: 0;
	z-index: 99;
	font-size: 18px;
	font-weight: bold;
}
footer {
	color: var(--highlight-color);
	border-top: solid var(--highlight-color) 2px;
	background: center / cover url('/web/footer_banner.png'), var(--highlight-bgcolor);
}

#header_topbar>*:nth-child(1) { display: flex; justify-content: space-between; }
#header_logo { text-align: left; } #header_logo:hover { cursor: n-resize; }
#header_button { text-align: right; }
#header_button:hover { cursor: pointer; }
#header_topbar>*:nth-child(2) { display: none; }
#header_search,#header_navCat li,#header_navLang { display: block; width: 100%; margin: 15px 0 0; text-align: left; }
#header_navLang li { display: inline-block; margin: 0 0 0 10px; width: inherit; font-weight: normal; }
#header_search {
	font-size: inherit;
	font-weight: normal;
	color: inherit;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	border-bottom: solid var(--highlight-color) 2px;
	transition: all 0.5s;
}
@media (min-width: 768px) {
	#header_topbar { display: flex; justify-content: space-between; }
	#header_topbar>*:nth-child(1) { text-align: left; }
	#header_topbar>*:nth-child(2) { text-align: right; display: block !important; }
	#header_button { display: none; }
	#header_topbar>*:nth-child(2) * { display: inline; }
	#header_search,#header_navCat *,#header_navLang * {
		display: inline-block;
		margin: 0 0 0 10px;
		width: inherit;
	}
	#header_search { text-align: right; width: 150px; } #header_search:focus { width: 400px; }
}

main>*:nth-child(2n) { background-color: var(--content-bgcolor0); }
main>*:nth-child(2n+1) { background-color: var(--content-bgcolor1); }
.main_title { color: var(--highlight-color); background-color: var(--highlight-bgcolor) !important; }
.main_content a { color: var(--highlight-bgcolor); text-decoration: underline; margin: 0 0.25em; }
.main_content figure { text-align: center; margin: 12px 0; }
.main_content figure>img { max-width: min(600px, 100%); cursor: zoom-in; }
.main_content figure>img[data-wide] { max-width: 100%; }
.main_content figcaption { font-size: 85%; opacity: 0.75; }
.main_note {
	border-left: solid var(--color) 4px;
	background-image: linear-gradient(var(--content-bgscolor), var(--content-bgscolor)), linear-gradient(var(--color), var(--color));
	padding: 2px 0 2px 10px;
	margin: 0 0 10px 0;
}

#viewer_container {
	z-index: 100;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	cursor: zoom-out;
	backdrop-filter: blur(6px);
	color: #FFF;
	text-align: center;
}
#viewer_container_link { background: rgb(0, 0, 0); opacity: 0.4; }
#viewer_container_link:hover { opacity: 1; }

#dialog_container {
	z-index: 101;
	position: fixed;
	width: 100%;
	bottom: 0;
	vertical-align: bottom;
}
#dialog_container>* {
	background: linear-gradient(var(--highlight-bgcolor), var(--highlight-bgcolor)) left bottom no-repeat, linear-gradient(var(--content-bgscolor), var(--content-bgscolor));
	margin: 12px 0;
}

/** Header search result */
#header_searchResult_container { height: 0; overflow-y: hidden; }

/** Modal: Simular to JS alert, but with custom style (TODO) */
#modal_container {
	display: none;
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	transition: all 1s;
}
#modal {
	position: relative;
	margin: auto;
	padding: inherit;
	top: -100%;
	width: 80%;
	max-width: 1360px;
	max-height: 600px;
	overflow: auto;
	background-color: var(--content-bgcolor0);
	border: 1px solid var(--content-color);
	box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.25);
	transition: all 1s;
}
#modal_close {
	background-color: var(--highlight-bgcolor);
	color: var(--highlight-color);
	text-align: right;
	padding: 10px 15px;
	font-size: large;
}
#modal_close:hover {
	cursor: pointer;
}
#modal_content {
	padding: 10px 15px;
}
#modal_content button {
	display: block;
	width: calc(100% - 20px);
	text-align: center;
	padding: 10px 5px;
	margin: 5px;
}

/** Misc */
.github_logo {
	background: left / contain no-repeat url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
	padding-left: 2em;
}

/** -------------------------- LAYOUT FOR SPECIAL PAGES -------------------------- **/

/** Home page and category list page */
.home_categoryOverview>div {
	color: #FFF;
	margin: 10vh 0;
}
.home_categoryOverview a:last-child {
	text-decoration: underline;
	font-weight: bold;
	display: block;
	text-align: right;
}
.home_categoryOverview a:last-child:after { content: ' >>>'; }

#categoryfilter {
	width: 100%;
	font-size: inherit;
	font-weight: normal;
	color: inherit;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	border-bottom: solid var(--highlight-color) 2px;
	opacity: 0.8;
	transition: opacity 0.5s;
}
#categoryfilter:focus { opacity: 1.0; }

#categorylist {
	display: grid;
	gap: 10px;
}
#categorylist>a {
	display: block;
	padding: 10px;
	background: center/cover var(--bgimg);
	box-shadow: inset 0 0 0 100vmax rgba(225, 225, 225, 0.8);
}
#categorylist>a:hover {
	box-shadow: inset 0 0 0 100vmax rgba(225, 225, 225, 0.5);
}
@media (min-width: 768px) {
	#categorylist { grid-template-columns: repeat(2, 1fr); }
	#categorylist>a:first-child { grid-column: 1/3; }
}
@media (min-width: 1360px) {
	#categorylist { grid-template-columns: repeat(3, 1fr); }
	#categorylist>a:first-child { grid-column: 1/3; grid-row: 1/3; }
}

/** Content information on content page and category list page */
.content_description { font-size: 85%; opacity: 0.75; }
.content_keywords a{
	display: inline-block;
	padding: 0 5px;
	margin: 5px 10px;
	transition: all 0.2s;
}
.content_keywords a:before { content: '# '; } .content_keywords a:hover { filter: contrast(0.5); }

/** Content index */
.content_index_nav { display: block; }
.content_index_nav:hover { cursor: pointer; }
.content_index_target { transition: all 1s; }
.content_index_nav:hover:after,.content_index_target:hover:after { content: '#'; color: grey; padding-left: 4ch; }


/** -------------------------- MODULES TO USE -------------------------- **/

/** Tinted image as background */
.tintimg {
	background: center/cover var(--bgimg);
	box-shadow: inset 0 0 0 100vmax var(--bgcolor);
}

/** Place two children contents side by side */ 
.sidebyside { display: block; }
@media (min-width: 768px) {
	.sidebyside { display: grid; gap: 10px; grid-template-columns: 1fr 1fr; }
}


/** Tables */
.beartable { display: table; margin: 20px 0; width: 100% }
.beartable>*[display]:nth-child(2n) { background-color: var(--content-bgcolor0); }
.beartable>*:nth-child(2n+1) { background-color: var(--content-bgcolor1); }
.beartable_tr { display: table-row; }
.beartable_tr>* { padding: 8px 16px; }
.beartable_th {
	display: table-cell;
	color: var(--highlight-color);
	background-color: var(--highlight-bgcolor);
}
.beartable_td {
	display: table-cell;
	color: var(--content-color);
}
@media (max-width: 767px) {
	.beartable { display: block; }
	.beartable_tr { display: block; }
	.beartable_th { display: block; border-top: 1px var(--highlight-color) solid; }
	.beartable_td { display: block; border-top: 1px var(--content-color) solid; }
}

/** Animation: type box */
.typebox:after{content:'_';animation:blinker 0.5s step-start infinite;}@keyframes blinker{50%{opacity:0}}